Aluno: Carlos Eduardo Gomes

E-mail: cegomes90@outlook.com

DS Degree Let's Code 814

Módulo 04

Exercícios

Professores: Patrícia e Sérgio

# Aula 01 - Git

**Exercício:**
1. Cadastre-se no Github
2. Instale o git em sua máquina
3. Teste o comando `git` no terminal/cmd
4. Realize as configurações necessárias
5. Teste as configurações
6. Crie um projeto dentro do seu repositório remoto

In [ ]:
# OK

Clone o repositório de aula

Clone o repositório que você criou anteriormente

Copie a pasta do repositório de aula para o seu repositório local

Dentro do seu repositório criado local, crie uma pasta para cada módulo do curso e adicione o arquivo .keep

Utilize os comandos ensinados para enviar essas atualizações para o seu repositório criado remoto

Passe o link do seu repositório remoto para os professores

In [ ]:
https://github.com/cegomes90/DS_Degree_814.git

In [ ]:
import pandas as pd 
import numpy as np

# Aula 02 - NumPy

1 - Selecione todos os valores ímpares do seguinte array:

array = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
array[array%2==1]

2 - Substitua os valores ímpares do seguinte array por 0:

array = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# primeira forma de solução
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
[0 if i%2==1 else i for i in arr ]

# segunda forma de solução
arr[arr%2==1] = 0
arr

# terceira forma de solução
np.where(arr % 2 == 1, 0, arr)

3 - Considere o dataset da iris disponível em: url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

Nesse dataset temos as seguintes informações:

Coluna 1. sepal length em cm

Coluna 2. sepal width em cm

Coluna 3. petal length em cm

Coluna 4. petal width em cm

Coluna 5. classe:

       -- Iris Setosa 
       
       -- Iris Versicolour 
       
       -- Iris Virginica 
       
Utilizando o método np.genfromtxt(), importe as 4 primeiras colunas do dataset do íris e print as 10 primeiras linhas

In [ ]:
# Solution
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

# Print the first 3 rows
iris[:10]

4 - Calcule a média, mediana e desvio padrão da coluna sepallenght

In [ ]:
# Input
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])

# Solution
mu, med, sd = np.mean(sepallength), np.median(sepallength), np.std(sepallength)
print(mu, med, sd)

5 - Filtre a matriz para conter apenas dados nos quais petallength (3ª coluna) > 1.5 e sepallength (1ª coluna) < 5.0

In [ ]:
condition = (iris[:, 2] > 1.5) & (iris[:, 0] < 5.0)
iris[condition]

6 - Esse dataset possui nans?

In [ ]:
iris[np.isnan(iris)]

7 - Crie uma coluna de volume sabendo que ele pode ser calculado por (pi x petallength x sepal_length^2)/3

In [ ]:
# Solução
# Computa o volume
sepallength = iris[:, 0].astype('float')
petallength = iris[:, 2].astype('float')
volume = np.pi * petallength * (sepallength**2)/3

# Adiciona a segunda dimensão no vetor de volume
# volume = volume[:, np.newaxis]
volume = volume.reshape(-1,1)

# Adiciona o vetor volume como coluna da matriz original
out = np.hstack([iris, volume])

# View
out[:4]

# Aula 03 - Pandas

Aula_1_-_Criação_df_loc_iloc

1 - Realize os passos seguintes utilizando o mesmo dataset do íris da aula anterior ('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data').

a. Use o pandas para ler o arquivo como um dataframe. Obs: precisa ler o dataframe sem que a primeira linha corresponda ao nome das colunas.

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)

df.head()

b. Sabendo que as cinco colunas correspondem, nessa ordem, a:

sepal length (cm)

sepal width (cm)

petal length (cm)

petal width (cm)

class:

Iris Setosa

Iris Versicolor

Iris Virginica

Leia novamente o arquivo passando o nome das colunas como argumento.

In [ ]:
cols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None, names=cols)

df.head()

c. Crie uma coluna para o volume sabendo que ele é calculado por (pi x petallength x sepal_length^2)/3

In [ ]:
import numpy as np
df['volume'] = (np.pi*df.petal_length*df.sepal_length**2)/3

d. Calcule a média de cada atributo das flores.

In [ ]:
df.mean()

e. Novamente, calcule a média de cada atributo das flores só que agora faça-o separadamente para cada um dos tipos de íris indicados na coluna "class". Utilize o loop for para reduzir quantidade de linhas.
Existe diferença entre as médias de cada um dos atributos das flores?

In [ ]:
for i in ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']:
    print(i, ':\n', df[df['class']==i].mean(), '\n')

f. Adicione uma nova coluna com o valor da média de 'sepal length' apenas para a íris da classe Iris-setosa.

In [ ]:
df.loc[df['class']=='Iris-setosa', 'media_sepal_length'] = df.loc[df['class']=='Iris-setosa', 'sepal_length'].mean()

g. Adicione uma coluna com a média de 'sepal length' de tal forma que cada tipo de íris tenha seu respectivo valor de média. Utilize o loop for e faça isso sem utilizar métodos que não foram ensinados na aula de hoje.

In [ ]:
for i in ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']:
    df.loc[df['class']==i, 'sepal_length_mean'] = df.loc[df['class']==i, 'sepal_length'].mean()

Aula 2 - Leitura de dados e Métodos úteis

Considere a existência de três tabelas distintas:

customer.csv : Possui a informação dos clientes em duas colunas: customer id customer name

products.csv : Contém informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price

sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases responda:

a) Quais foram os produtos vendidos?

In [ ]:
import pandas as pd 
sales=pd.read_csv("data/sales.csv") # reading from csv file
print(sales)

In [ ]:
vendidos = sales['product'].unique()
vendidos

b) E os não vendidos?

In [ ]:
products=pd.read_csv("data/products.csv") 
todos_produtos = products['product'].unique()
todos_produtos

In [ ]:
print("Os produtos que não foram vendido: ", [i for i in todos_produtos if i not in vendidos])

c) Quais foram as cinco maiores vendas? Salve essas vendas em um arquivo excel.

In [ ]:
maiores_vendas = sales.sort_values('qty', ascending=False).head()
maiores_vendas

In [ ]:
maiores_vendas.to_excel('./data/maiores_vendas.xlsx')

d) Liste a quantidade vendida de cada produto. Utilize um loop for para isso.

In [ ]:
for i in sales['product'].unique():
    print(i, sales[sales['product']==i].qty.sum())

e) Liste a quantidade vendida de cada loja.

In [ ]:
for i in sales['store'].unique():
    print(i, sales[sales['store']==i].qty.sum())

f) Liste a quantidade vendida de cada produto por loja.

In [ ]:
lojas = sales['store'].unique()
produtos = sales['product'].unique()
for i in lojas:
    for j in produtos:
        print(i, j, sales[(sales['store']==i) & (sales['product']==j)].qty.sum())

Aula 3 - Limpeza e transformação de dados

1 - Converta os países do dataframe abaixo para variáveis dummies eliminando a primeira coluna e utilizando 'Country' como prefixo no nome das colunas.

In [ ]:
ids = [11, 22, 33, 44, 55, 66, 77]
countries = ['Brasil', 'Argentina', 'Peru', 'Bolívia', 'Uruguai']
sales = [42, 53, 37, 45, 20]

df = pd.DataFrame(list(zip(ids, countries, sales)),
                  columns=['Ids', 'Countries', 'Sales'])
df.head()

In [ ]:
df.drop(['Ids'], axis = 1, inplace = True)
df

In [ ]:
pd.get_dummies(df, columns=["Countries"])

2 - Considere os dados do arquivo "german_credit.csv" que contem dados de empréstimos realizados por um banco.

a. Tem nulos nesse df? Se sim, preencha os nulos da forma que o grupo decidir.

In [ ]:
df = pd.read_csv("D:\OneDrive\LetsCode\DS_Degree\Modulo_04\DS_Degree_814\Lets_Code_DS_Degree_Alunos\Módulo 3 - Pandas\data\german_credit.csv", encoding='utf-8', sep=",")
df

In [ ]:
df.isna().sum()
# Temos nulos em "Saving accounts" (183) e "Checking account" (394)

In [ ]:
# Vamos preencher os NAs com o valor que mais aparece: "little"
df["Saving accounts"].describe()

In [ ]:
df["Saving accounts"] = df["Saving accounts"].fillna("little")

In [ ]:
# Vamos preencher os NAs com o valor que mais aparece: "little"
df["Checking account"].describe()

In [ ]:
df["Checking account"] = df["Checking account"].fillna("little")

In [ ]:
df.isna().sum()
# Removemos os NAs

b. Converta as variáveis categóricas em numéricas.

In [ ]:
df.dtypes

In [ ]:
print(df.Sex.value_counts())
print("-----")
print(df.Housing.value_counts())
print("-----")
print(df.Purpose.value_counts())
print("-----")
print(df["Saving accounts"].value_counts())
print("-----")
print(df["Checking account"].value_counts())

In [ ]:
df.Sex.replace({'male':1, 'female':0}, inplace = True)
df.Housing.replace({'own':1, 'rent':2, 'free':3} , inplace = True)
df.Purpose.replace({'car':1, 'radio/TV':2, 'furniture/equipment':3, 'business':4, 'education':5, 'repairs':6, 'vacation/others':7, 'domestic appliances':8} , inplace = True)

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
df["Saving accounts"].replace({'little':1, 'moderate':2, 'quite rich':3, 'rich':4} , inplace = True)
df["Checking account"].replace({'little':1, 'moderate':2, 'rich':3} , inplace = True)
df

In [ ]:
df.dtypes

3 - Para esse exercício vamos considerar o dataset https://archive.ics.uci.edu/ml/datasets/automobile que traz a especificação de modelos de carros em 1985. https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

In [ ]:
# Considere a seguinte lista como o nome das colunas do dataset
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data', header = None)
df
df.columns = headers
df

In [ ]:
missing = ["normalized_losses", "num_doors", "horsepower", "peak_rpm", "price" ]
# Chegou-se a esse valor, fazendo variável por variável o seguinte comando:
print(df.price.value_counts())

a. Esse dataset possui nans? Se sim, o grupo precisa entrar em um acordo de como tratá-los.

In [ ]:
df.isna().sum()
# Não possui
# Porém, verificou-se um por um, devido ao valor "?" presente nos dados.
# Dessa forma, encontrou-se valores missing: foi considerado o valor "?" como missing.

In [ ]:
# Vamos excluir
index_names = df[df['normalized_losses'] == "?" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
missing = ["normalized_losses", "num_doors", "horsepower", "peak_rpm", "price" ]

In [ ]:
# Vamos excluir
index_names = df[df['num_doors'] == "?" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
# Vamos excluir
index_names = df[df['horsepower'] == "?" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
# Vamos excluir
index_names = df[df['peak_rpm'] == "?" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
# Vamos excluir
index_names = df[df['price'] == "?" ].index
# Deletando as linhas com esses índices do DataFrame
df.drop(index_names , inplace=True)

In [ ]:
df
df.dropna(axis = 0, inplace = True)
df

In [ ]:
df.isna().sum()

In [ ]:
df.reset_index(inplace = True)
df

In [ ]:
df.drop(['index'], axis = 1, inplace = True)
df

b. Esse dataset possui linhas duplicadas?

In [ ]:
df.duplicated().sum()
# Não possui

c. O consumo dos automóveis na cidade e rodovia, representados pelas colunas "city-mpg" e "highway-mpg" respectivamente, estão na unidade mpg (miles per gallon). Converta essas colunas para consumo em L/100km sabendo que a conversão é dada por:

L/100km = 235 / mpg

In [ ]:
df["city_km"] = ((100 * df.city_mpg) / 235)
df["highway_km"] = ((100 * df.highway_mpg) / 235)
df

d. Converta as colunas "body_style" e "drive_wheels" para variáveis dummies.

In [ ]:
df_2 = pd.get_dummies(df, columns=['body_style', 'drive_wheels'])
df_2

Aula 4 - Manipulação de df: groupby e merge

1 - Considere a existência de três tabelas distintas:
    
customer.csv : Possui a informação dos clientes em duas colunas: customer id customer name
        
products.csv : Conté informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
    
sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)
    
Conhecendo as bases e utilizando os métodos de concatenação de bases responda:

a) Quais produtos não foram vendidos?

In [ ]:
import pandas as pd 
sales = pd.read_csv("data/sales.csv") 
products = pd.read_csv("data/products.csv") 

# Faz um merge priorizando as informações da tabela de produtos
my_data = pd.merge(sales, products, on=['p_id','product'],how='right')
 
# Seleciona todos as linhas em que o sale_id é nan
my_data = my_data[my_data['sale_id'].isna()]

# Seleciona os produtos que não foram vendidos
print(my_data.loc[:,'product'])

b) Quantos clientes não realizaram uma compra?

In [ ]:
customers = pd.read_csv("data/customer.csv") 

# Faz um merge priorizando as informações da tabela de customers
my_data = pd.merge(sales, customers, on='c_id', how='right')

# Seleciona todos as linhas em que o sale_id é nan
my_data = my_data[my_data['sale_id'].isna()] 

# Seleciona os clientes que não realizaram compras
print(my_data.loc[:,'Customer'])

c) Liste a quantidade vendida e o faturamento de cada produto

In [ ]:
my_sum=pd.merge(sales, products, how='left', on=['p_id','product'])

# Calcula valor total de cada sale_id
my_sum['total_sale'] = my_sum['qty']*my_sum['price']

# Agrupa por produto e soma a quantidade vendida e o valor total da compra
my_sum.groupby(['product'])[['qty', 'total_sale']].sum()

d) Liste a quantidade vendida de cada produto por loja

In [ ]:
my_sale = sales.groupby(['product','p_id', 'store'])[['qty']].sum().reset_index()
my_sale

e) Qual loja teve maior faturamento?

In [ ]:
my_sum.groupby(['store'])[['total_sale']].sum().sort_values('total_sale').tail(1)

f) Qual produto foi o mais vendido?

In [ ]:
my_sum.groupby(['product'])[['qty']].sum().sort_values('qty').tail(1)